<div class="container-fluid py-4">

  <!-- Loading -->
  <div *ngIf="loading" class="text-center py-5">

    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

  </div>

  <!-- Error -->
  <div *ngIf="error && !loading" class="alert alert-danger">

    {{ error }}

  </div>

  <!-- Dashboard -->
  <ng-container *ngIf="dashboard && !loading">

    <!-- Header -->
    <app-dashboard-header>
    </app-dashboard-header>

    <!-- Overview -->
    <app-dashboard-overview
      [dashboard]="dashboard">
    </app-dashboard-overview>

    <!-- Revenue -->
    <app-revenue-analytics
      [dashboard]="dashboard">
    </app-revenue-analytics>

    <!-- Finance -->
    <app-finance-payment
      [dashboard]="dashboard">
    </app-finance-payment>

    <!-- Orders -->
    <app-orders-analytics
      [dashboard]="dashboard">
    </app-orders-analytics>

    <!-- Customer & Vendor -->
    <app-customer-vendor
      [dashboard]="dashboard">
    </app-customer-vendor>

    <!-- Products & Inventory -->
    <app-product-inventory
      [dashboard]="dashboard">
    </app-product-inventory>

    <!-- product-->
    <app-product-analytics
    [dashboard]="dashboard">
    </app-product-analytics>

    <!-- Engagement -->
    <app-engagement-analytics
      [dashboard]="dashboard">
    </app-engagement-analytics>

    <!-- Charts -->
    <app-dashboard-charts>
    </app-dashboard-charts>

    <!-- Recent Orders -->
    <app-recent-orders>
    </app-recent-orders>

    <!-- Recent Activities -->
    <app-recent-activities>
    </app-recent-activities>

  </ng-container>

</div>