.why-section{


background:#f8f9fa;


}





.section-title h2{


font-size:36px;

font-weight:800;

}



.section-title p{


color:#777;

font-size:17px;

}





.feature-card{


background:white;

padding:35px 25px;

height:100%;

border-radius:20px;


box-shadow:

0 8px 25px rgba(0,0,0,.08);


transition:.3s;


}




.feature-card:hover{


transform:translateY(-8px);


}





.icon-box{


width:70px;

height:70px;

margin:auto;

border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


background:#212529;


color:white;


font-size:30px;


margin-bottom:20px;


}





.feature-card h5{


font-size:20px;

font-weight:700;


}





.feature-card p{


color:#777;

line-height:1.6;


}