.deals-section{

background:#ffffff;

}





.deal-banner{


background:
linear-gradient(
135deg,
#f8f9fa,
#ffffff
);


border-radius:25px;

padding:50px;

overflow:hidden;


box-shadow:
0 10px 30px rgba(0,0,0,.08);

}





.deal-banner h1{


font-size:45px;

font-weight:800;

color:#dc3545;

}



.deal-banner h3{

font-size:32px;

font-weight:700;

}



.deal-banner p{

color:#777;

font-size:18px;

}





.deal-image{

max-width:100%;

height:280px;

object-fit:contain;

}





@media(max-width:768px){


.deal-banner{

padding:30px;

text-align:center;

}



.deal-banner h1{

font-size:34px;

}



.deal-banner h3{

font-size:25px;

}



}