.details-container{

padding:30px;

}



.loading{

text-align:center;

font-size:18px;

padding:40px;

}



.card{

display:flex;

gap:30px;

background:#fff;

padding:25px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.image-section{

width:45%;

}



.image-section img{

width:100%;

height:300px;

object-fit:cover;

border-radius:12px;

}




.info-section{

flex:1;

}



.info-section h2{

font-size:28px;

margin-bottom:10px;

}



.subtitle{

color:#666;

font-size:16px;

margin-bottom:25px;

}



.info-row{

display:flex;

gap:15px;

margin-bottom:15px;

}



.active,
.inactive{

padding:6px 14px;

border-radius:20px;

font-size:14px;

}



.active{

background:#dcfce7;

color:#166534;

}



.inactive{

background:#fee2e2;

color:#991b1b;

}



.back-btn{

margin-top:25px;

padding:10px 20px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}