<div class="banner-container">

  <button 
        routerLink="/admin/banner-management/bannerForm">
            Add New Banner
  </button>

<h2>
  Banner List
</h2>



<div
class="loading"
*ngIf="loading">

Loading banners...

</div>



<table
*ngIf="!loading && banners.length > 0"
class="banner-table">


<thead>

<tr>

<th>
Image
</th>


<th>
Title
</th>


<th>
Subtitle
</th>


<th>
Button
</th>


<th>
Order
</th>


<th>
Status
</th>


<th>
Action
</th>


</tr>

</thead>



<tbody>


<tr
*ngFor="let banner of banners">


<td>

<img
[src]="baseImageUrl + banner.imageUrl"
alt="banner"
class="banner-image">

</td>



<td>

{{banner.title}}

</td>



<td>

{{banner.subtitle}}

</td>



<td>

{{banner.buttonText}}

</td>



<td>

{{banner.displayOrder}}

</td>



<td>


<span
[class.active]="banner.active"
[class.inactive]="!banner.active">


{{

banner.active
?
'Active'
:
'Inactive'

}}


</span>


</td>



<td>


<button
[routerLink]="['/admin/banner-management/bannerForm',banner.id]"
class="edit-btn">

Edit

</button>



<button
class="delete-btn"
(click)="deleteBanner(banner.id)">

Delete

</button>


</td>



</tr>


</tbody>


</table>



<div
*ngIf="!loading && banners.length === 0"
class="empty">


No banners found.


</div>


</div>