<section class="category-section py-5">


<div class="container">


<div class="section-title text-center mb-5">

<h2>
Shop By Category
</h2>

<p class="text-muted">
Explore products from different categories
</p>


</div>





<div class="row g-4">



<div

class="col-xl-2 col-lg-3 col-md-4 col-6"

*ngFor="let category of categories">





<div 
class="category-card"
(click)="openCategory(category.id)">





<img

[src]="getImageUrl(category)"

class="img-fluid"

alt="{{category.name}}">





<div class="overlay">



<h5>

{{category.name}}

</h5>



<button 
class="btn btn-light btn-sm"
[routerLink]="['/categoryProduct',category.id, category.name]"
type="button">

Explore

</button>



</div>



</div>



</div>



</div>


</div>


</section>