<div class="order-details-container" *ngIf="!loading && order">

  <div class="page-header">
    <button class="back-btn" (click)="goBack()">
      ← Back
    </button>

    <h2>Order Details</h2>
  </div>

  <!-- Order Summary -->

  <div class="card">

    <div class="row">
      <span>Order Number</span>
      <strong>{{order.orderNumber}}</strong>
    </div>

    <div class="row">
      <span>Status</span>
      <span
        class="status"
        [ngClass]="order.orderStatus">
        {{ order.orderStatus }}
      </span>
    </div>

    <div class="row">
      <span>Payment</span>
      <span>{{order.paymentStatus}}</span>
    </div>

    <div class="row">
      <span>Payment Method</span>
      <span>{{order.paymentMethod}}</span>
    </div>

    <div class="row">
      <span>Order Date</span>
      <span>{{order.createdAt}}</span>
    </div>

  </div>

  <!-- Shipping Address -->

  <div class="card">

    <h3>Shipping Address</h3>

    <p>{{order.shippingAddress.username}}</p>

    <p>{{order.shippingAddress.phone}}</p>

    <p>
      {{order.shippingAddress.street}},
      {{order.shippingAddress.city}},
      {{order.shippingAddress.district}}
    </p>

    <p>
      {{order.shippingAddress.country}}
      -
      {{order.shippingAddress.zipCode}}
    </p>

  </div>



  <!-- Ordered Items -->

  <div class="card">

    <h3>Items</h3>

    <div
      class="item"
      *ngFor="let item of order.items">

      <img
        [src]="item.imageUrl"
        alt="product">

      <div class="item-info">

        <h4>{{item.productName}}</h4>

        <p>{{item.variantName}}</p>

        <p>SKU : {{item.sku}}</p>

      </div>

      <div class="price">

        <p>Qty : {{item.quantity}}</p>

        <p>{{ order.totalPrice | currency:'BDT':'symbol':'1.2-2' }}</p>

        <strong>
          {{item.totalPrice | currency:'BDT':'symbol':'1.2-2' }}
        </strong>

      </div>

    </div>

  </div>



  <!-- Price Summary -->

  <div class="card">

    <h3>Price Details</h3>

    <div class="row">
      <span>Subtotal</span>
      <span>{{order.subtotal | currency:'BDT':'symbol':'1.2-2' }}</span>
    </div>

    <div class="row">
      <span>Shipping</span>
      <span>{{order.shippingFee | currency:'BDT':'symbol':'1.2-2' }}</span>
    </div>

    <div class="row">
      <span>Discount</span>
      <span>- {{order.discount | currency:'BDT':'symbol':'1.2-2' }}</span>
    </div>

    <hr>

    <div class="row total">

      <span>Total</span>

      <strong>
        {{order.totalPrice | currency:'BDT':'symbol':'1.2-2' }}
      </strong>

    </div>

  </div>



  <div class="actions">

    <button
      class="cancel-btn"
      *ngIf="order.orderStatus === OrderStatus.PENDING"
      (click)="cancelOrder()">

      Cancel Order

    </button>

  </div>

</div>



<div class="loading" *ngIf="loading">

    Loading...

</div>



<div
class="error"
*ngIf="error">

{{error}}

</div>