<!-- <app-header></app-header> -->


<app-hero-banner></app-hero-banner>


<app-flash-sale></app-flash-sale>


<app-category-section></app-category-section>


<app-featured-products></app-featured-products>


<app-new-arrivals></app-new-arrivals>


<app-best-selling-products></app-best-selling-products>


<app-top-rated-products></app-top-rated-products>


<app-top-vendors></app-top-vendors>


<app-deals-section></app-deals-section>


<app-why-choose-us></app-why-choose-us>


<app-customer-reviews></app-customer-reviews>


<app-newsletter></app-newsletter>


<app-footer></app-footer>