.review-section{


background:#ffffff;


}




.section-header h2{


font-size:36px;

font-weight:800;


}



.section-header p{


color:#777;

font-size:17px;


}





.review-card{


background:#fff;


padding:30px 20px;


border-radius:20px;


text-align:center;


height:100%;


box-shadow:

0 8px 25px rgba(0,0,0,.08);


transition:.3s;


}




.review-card:hover{


transform:translateY(-8px);


}




.customer-image{


width:80px;

height:80px;


border-radius:50%;


object-fit:cover;


margin-bottom:20px;


}




.review-card h5{


font-weight:700;


}




.stars i{


color:#ffc107;


margin:2px;


}



.review-card p{


color:#666;

font-size:15px;

line-height:1.6;

margin-top:15px;


}