.product-card{


border:none;

border-radius:18px;

overflow:hidden;

box-shadow:
0 8px 25px rgba(0,0,0,.08);

transition:.3s;


}


.product-card:hover{


transform:
translateY(-8px);


box-shadow:
0 15px 35px rgba(0,0,0,.15);


}





.image-wrapper{


height:260px;

position:relative;

background:#f8f8f8;


}




.product-image{


width:100%;

height:100%;

object-fit:cover;


}






.discount-badge{


position:absolute;

top:15px;

left:15px;


background:#dc3545;

color:white;

padding:6px 12px;

border-radius:20px;

font-size:13px;

font-weight:600;


}






.wishlist-btn{


position:absolute;

right:15px;

top:15px;


width:40px;

height:40px;


border-radius:50%;

border:none;


background:white;


font-size:22px;


color:#dc3545;


}




.product-name{


font-size:18px;

font-weight:600;


display:-webkit-box;

-webkit-line-clamp:2;

-webkit-box-orient:vertical;

overflow:hidden;


}





.brand{


font-size:14px;

color:#777;

}





.rating i{


color:#ffc107;


}



.rating small{


color:#777;

margin-left:5px;


}





.discount-price{


font-size:21px;

font-weight:700;

color:#dc3545;


}



.old-price{


text-decoration:line-through;

color:#888;

margin-left:10px;


}





.actions{


display:flex;

gap:10px;


}




.cart-btn{


flex:1;


}





.review-btn{


font-size:14px;


}