<div class="card product-card h-100">


<!-- Image -->

<div class="image-wrapper">


<img
[src]="getImageUrl()"
class="product-image"
alt="{{product.name}}">



<!-- Discount -->

<span
class="discount-badge"
*ngIf="product.discountPrice">


{{discountPercentage}}% OFF


</span>




<!-- Wishlist -->

<button
class="wishlist-btn"
(click)="toggleWishlist()">


<i
class="bi"
[class.bi-heart-fill]="product.inWishlist"
[class.bi-heart]="!product.inWishlist">

</i>


</button>


</div>





<div class="card-body d-flex flex-column">



<!-- Product Name -->

<h5 class="product-name">

{{product.name}}

</h5>




<!-- Brand -->

<p class="brand">

{{product.brandName}}

</p>





<!-- Rating -->


<div class="rating">


<i class="bi bi-star-fill"></i>


<span>

{{product.averageRating || 0}}

</span>


<small>

({{product.totalReviews || 0}} reviews)

</small>


</div>







<!-- Price -->


<div class="price mt-3">


<span
class="discount-price"
*ngIf="product.discountPrice">


{{product.discountPrice | currency:'BDT '}}


</span>



<span
[class.old-price]="product.discountPrice">


{{product.price | currency:'BDT '}}


</span>


</div>





<!-- Stock -->


<div class="stock mt-2">


<span
class="text-success"
*ngIf="product.status==='ACTIVE'">


● In Stock


</span>


</div>






<!-- Buttons -->


<div class="actions mt-auto">



<button

class="btn btn-dark cart-btn"

(click)="addToCart()">


<i class="bi bi-cart"></i>

Cart


</button>





<button

class="btn btn-outline-dark"

(click)="viewProduct()">


<i class="bi bi-eye"></i>

View


</button>



</div>

</div>


</div>