.product-card {
  border-radius: 14px;
  overflow: hidden;
  transition: .3s;
  height: 100%;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 28px rgba(0,0,0,.12);
  }
}

.product-image {
  position: relative;
  background: #fafafa;
  overflow: hidden;
  aspect-ratio: 1 / 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
  }

  &:hover img {
    transform: scale(1.08);
  }
}

.discount-badge {
  position: absolute;
  top: 12px;
  left: 12px;
}

.product-title {
  min-height: 48px;
  font-weight: 600;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  font-size: 1.1rem;
  font-weight: 700;
  color: #0d6efd;
}

.old-price {
  margin-left: 8px;
  text-decoration: line-through;
  color: #888;
  font-size: .9rem;
}

.rating {
  color: #f39c12;
  font-weight: 500;
}

.product-card .btn {
  border-radius: 8px;
  height: 36px;
  font-size: .85rem;
  font-weight: 500;
  transition: .3s;
}

.product-card .btn:hover {
  transform: translateY(-2px);
}

.product-count {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background: #06daff;
  color: #160175;
  border: 1px solid #cfe2ff;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 600;
}