<div class="banner-form">


<h2>
{{isEditMode ? 'Update Banner':'Create Banner'}}
</h2>



<form
[formGroup]="bannerForm"
(submit)="submit()">



<div class="form-group">

<label>
Title
</label>

<input
type="text"
formControlName="title"
class="form-control">


</div>





<div class="form-group">

<label>
Subtitle
</label>

<textarea
formControlName="subtitle"
class="form-control">
</textarea>


</div>





<div class="form-group">

<label>
Button Text
</label>


<input
type="text"
formControlName="buttonText"
class="form-control">


</div>






<div class="form-group">

<label>
Button Link
</label>


<input
type="text"
formControlName="buttonLink"
class="form-control">


</div>





<div class="form-group">

<label>
Display Order
</label>


<input
type="number"
formControlName="displayOrder"
class="form-control">


</div>






<div class="form-group">


<label>
Image
</label>


<input
type="file"
class="form-control"
(change)="onFileSelected($event)">



</div>





<div
class="preview"
*ngIf="imagePreview">


<img
[src]="imagePreview">

</div>







<div class="form-check">


<input
type="checkbox"
formControlName="active"
class="form-check-input">


<label>
Active
</label>


</div>






<button
type="submit"
class="btn btn-primary"
[disabled]="loading">


{{loading?'Saving...':'Save Banner'}}


</button>



<button
type="button"
class="btn btn-secondary"
(click)="cancel()">


Cancel


</button>



</form>


</div>