.newsletter-section{

padding:70px 0;

background:#f8f9fa;

}





.newsletter-box{


background:

linear-gradient(
135deg,
#212529,
#343a40
);


padding:50px;


border-radius:25px;


color:white;


box-shadow:

0 10px 30px rgba(0,0,0,.15);


}





.newsletter-box h2{


font-size:35px;

font-weight:800;

margin-bottom:15px;


}




.newsletter-box p{


color:#ddd;

font-size:17px;


}





.subscribe-form{


display:flex;

gap:15px;


}




.subscribe-form input{


height:50px;

border-radius:10px;


}




.subscribe-form button{


padding:0 30px;

border-radius:10px;

font-weight:600;


}





@media(max-width:768px){



.newsletter-box{


padding:30px;

text-align:center;


}



.subscribe-form{


flex-direction:column;


}



.subscribe-form button{


height:50px;


}


}