<section class="newsletter-section">


<div class="container">


<div class="newsletter-box">


<div class="row align-items-center">



<div class="col-lg-6">


<h2>

Subscribe & Get Exclusive Offers 🎁

</h2>



<p>

Be the first to know about new products,
discounts and special deals.

</p>


</div>





<div class="col-lg-6">


<form

class="subscribe-form"

(ngSubmit)="subscribe()">



<input

type="email"

class="form-control"

placeholder="Enter your email"

[(ngModel)]="email"

name="email"

required>




<button

class="btn btn-dark"

type="submit">


Subscribe


</button>



</form>



</div>




</div>


</div>


</div>


</section>