<header class="main-header">


<div class="container">


<div class="header-wrapper">


<!-- Logo -->

<div class="logo">

<a routerLink="/">

PURION

</a>

</div>




<!-- Search -->

<div class="search-box">


<input

type="text"

placeholder="Search products...">


<button>

<i class="bi bi-search"></i>

</button>


</div>





<!-- Actions -->

<div class="header-actions">


<a routerLink="/wishlist">

<i class="bi bi-heart"></i>

<span>Wishlist</span>

</a>



<a routerLink="/cart">

<i class="bi bi-cart"></i>

<span>Cart</span>

</a>




<div class="account">


<i class="bi bi-person-circle"></i>


<span>

Account

</span>


</div>



</div>



</div>


</div>


</header>