.review-item{

    padding:20px 0;

    border-bottom:1px solid #e9ecef;

}

.review-item:last-child{

    border-bottom:none;

}

h6{

    font-weight:600;

}

i{

    margin-left:2px;

    font-size:14px;

}