<div class="category-container">

  <h2>Shop by Category</h2>

  <div class="loading" *ngIf="loading">
    Loading Categories...
  </div>

  <div class="empty" *ngIf="!loading && categories.length === 0">
    No Categories Found
  </div>

  <div class="category-grid" *ngIf="!loading">

    <div
      class="category-card"
      *ngFor="let category of categories"
      (click)="openCategory(category)">

      <div class="image">

        <img
          *ngIf="category.imageUrl"
          [src]="baseImageUrl + category.imageUrl"
          [alt]="category.name">

      </div>

      <div class="name">

        {{ category.name }}

      </div>

    </div>

  </div>

</div>
